body {
    background: #afafaf;
    
}

.container {


    position: absolute;
    
    box-sizing: border-box;
}

.container * {
    box-sizing: inherit;
    font-size: inherit;
}

.container #MapBox {
    margin-bottom: 0.75rem;
    margin:auto;
    height:30rem;
    width:50rem;
    top:4rem;
    left:2rem;
    position:relative; 

}
.container #tablebox{
    position: relative;
    top:-26rem;
    left:55rem;
    
}
.container #tablebox table, th, td {
    border: 1px solid black;
  }